*{
    margin: 0;
    padding: 0;
}
body{font-family: "Poppins", sans-serif;}
.navbar{
    background-color:#FD6559;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    background-color: black;
    color: antiquewhite;
    width: 25%;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book-container h1{
    color: #FD6559;
}
.book-container button{
    background-color: #FD6559;
    border-radius: 10px;
    color: black;
    padding-top:5px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border:none;
    margin-top: 10px;
} 
.add-btn{
    background-color: #FD6559;
    border-radius: 100%;
    padding-top:20px ;
    padding-bottom: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-size: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index:1;
    display: none;
}
.popup-box{
    background-color: #FD6559;
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    border-radius: 10px;
    display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid black;
}
.popup-box textarea{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border: solid black;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    color: white;
    padding-left:20px ;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: medium;
    border:none;
}
.popup-box input:focus{
    outline:none
}
.popup-box textarea:focus{
    outline:none
}















